* {
  background-color: #ebebeb;
  font-family: Verdana, Tahoma, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 60px;
}

#button {
  color: #1f1f1f;
  font-size: 30px;
  border-radius: 30px;
  border: 3px solid;
  padding: 20px;
}

#grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.div {
  border: solid 2px black;
  width: 400px;
  height: 400px;
}

.div-colored {
  background-color: rgb(87, 165, 218);
}
