* {
  background-color: #1d1d1d;
}

#grid-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.div {
  border: solid 2px black;
  width: 400px;
  height: 400px;
}

.div-colored {
  background-color: rgb(87, 165, 218);
}
